.element {
    display: flex;
    justify-content: space-between;
}
.left-element {
   width: 100%;
   height: 100vh;
   text-align: center;
}
.left-element >form{
    text-align: center;
}
.right-elemnt {
    border-left: 2px solid black;
    width: 100vh;
    height:100vh;
    text-align: center;
}
.top-elem > p {
    margin-bottom: 10px;
}
.left-element>form > input{
    margin: 25px;
}
.left-element>form > label{
    display: inline-block;
    text-align: left;
    width:300px;  
    margin: 10px; 
}

.form-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form-footer>a,button{
    margin: 10px;
    padding: 10px;
}


.review-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    
}
.review-container p {
    text-align: center;
}
.rectangle {
    background-color: aqua;
}