.previous-next {
    display: flex;
    align-items: center;
    height:75px;
    border-bottom: 2px solid #333;
}
.element {
    display: flex;
    justify-content: space-between;
}
.left-element {
   width: 100%;
   text-align: center;
   border-right: 2px solid #333;
}
.left-element >form{
    text-align: center;
}
.top-elem > p {
    margin-bottom: 10px;
}
.left-element>form > input{
    margin: 25px;
}
.left-element>form > label{
    display: inline-block;
    text-align: left;
    width:300px;  
    margin: 10px; 
}

.form-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form-footer>a,button{
    margin: 10px;
    padding: 10px;
}

.right-elemnt {
    width: 100vh;
    max-height: 100vh;
    overflow: scroll;
}
.recplace{
    height: 150px;
    padding: 30px;
    margin-bottom: 10px;
}
















.review-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    
}
.review-container p {
    text-align: center;
}
.rectangle {
    background-color: aqua;
}