.navbar {
    background-color: darkblue;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    display:flex;
    align-items: center;
    text-decoration: none;
}
.nav-menu {
    background-color: darkblue;
    width:250px;
    display: flex;
    justify-content: center;
    height:100vh;
    left: -100%; 
    top:0;
    transition:850ms;
    position: fixed;
}

.nav-menu.active {
    left: 0%;
    transition: 350ms;
}

.nav-text {
    list-style: none;
    padding: 8px 0px 8px 16px;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    color: aliceblue;
}

.nav-text a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: rgb(216, 16, 16);
}

.navbar-toggle {
    background-color: darkblue;
    width:100%;
    height: 80px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.nav-items {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}