* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.home ,.payment-form {
  display: flex;
  height:90vh;
  justify-content: flex-start;
  align-items: center;
  font-size: 3rem;
}
